@layer base {
    :root {
      --font-sans: "Inter", sans-serif;
      --font-sans--font-variation-settings: "opsz" 32;

      --font-serif: "Merienda", serif;
  
      --grid-cols-layout: 70% 28%;
    }
  }

